// Blue
$blue25: #F5FAFF;
$blue50: #EFF8FF;
$blue100: #D1E9FF;
$blue200: #B2DDFF;
$blue300: #84CAFF;
$blue400: #53B1FD;
$blue500: #2E90FA;
$blue600: #1570EF;
$blue700: #175CD3;
$blue800: #1849A9;
$blue900: #194185;
$blue950: #102A5F;

// Blue Gray
$blueGray25: #F8F9FC;
$blueGray50: #F0F4F8;
$blueGray100: #D9E2EC;
$blueGray200: #BCCCDC;
$blueGray300: #9FB3C8;
$blueGray400: #829AB1;
$blueGray500: #627D98;
$blueGray600: #486581;
$blueGray700: #334E68;
$blueGray800: #243B53;
$blueGray900: #102A43;
$blueGray950: #0D1C2E;