
$green-25: #EFFEF9;
$green-50: #DAF5EF;
$green-100: #B4F2E3;
$green-200: #8DF5CF;
$green-300: #66F3B0;
$green-400: #32F09D;
$green-500: #12FA74;
$green-600: #00E050;
$green-700: #00C74A;
$green-800: #009B56;
$green-900: #007F57;