$red25: #FFFBFA;
$red50: #FEF3F2;
$red100: #FEE4E2;
$red200: #FECDCA;
$red300: #FDA29B;
$red400: #F97066;
$red500: #F04438;
$red600: #D92D20;
$red700: #B42318;
$red800: #912018;
$red900: #7A271A;
$red950: #55160C;