
@mixin pretendard($weight, $font-size: 16px, $color: #1E1E1C) {
    font-family: "Pretendard-Regular", sans-serif;
    font-optical-sizing: auto;
    font-weight: $weight;
    font-style: normal;
    font-size: $font-size;
    color: $color;
}